$accent-pink: var(--accent-pink);
$accent-light-pink: var(--accent-light-pink);
$accent-green: var(--accent-green);
$accent-blue: var(--accent-blue);
$accent-yellow: var(--accent-yellow);
$secondary-white: var(--secondary-white);
$accent-grey: var(--accent-grey);
$primary-grey: var(--primary-grey);
$secondary-grey: var(--secondary-grey);
$primary-body: var(--primary-body);
$primary-dark: var(--primary-dark);
$primary-border: var(--primary-border);
