@import '@/styles/variables.scss';
@import "@/styles/mixins.scss";
@import "@/styles/colors.scss";

.product-detail {
  &__details {
    @include flex-wrap();
  }

  &__image-container {
    @include flex-column();
    width: 28rem;
    height: 28rem;
    @include respond-to(md) {
      width: calc(28rem / 2);
      height: calc(28rem / 2);
    }
  }

  &__slider-image {
    width: 28rem;
    height: 28rem;
    object-fit: contain;

    @include respond-to(md) {
      width: calc(28rem / 2);
      height: calc(27.9375rem / 2);
    }
  }

  &__details-box {
    @include flex-space-between(column, flex-start, $gap-xxsmall);
    width: 29.8125rem;
    height: 17.0625rem;
    padding: $padding-small;
    border-radius: $gap-small;
    background: $accent-grey;

    @include respond-to(md) {
      width: calc(28rem / 1.5);
      height: calc(28rem / 1.5);
    }

    @include respond-to(sm) {
      width: calc(28rem / 2);
      height: calc(28rem / 2);
    }
  }

  &__price {
    font-size: 1.875rem; // 30px (переведено в rem)
    font-weight: $font-weight-bold;
  }

  &__button {
    &.ui-button {
      font-size: $rem-base;
      font-weight: $font-weight-semi-bold;
      width: fit-content;
      border: 1px solid $secondary-grey;
      color: $primary-dark;

      &.active {
        color: $accent-blue;
        border: 1px solid $accent-blue;
      }
    }
  }
}
