@import "@/styles/mixins.scss";
@import '@/styles/variables.scss';
@import '@/styles/colors.scss';

.order-checkout {
  &__form {
    @include flex-wrap(row, wrap, $padding-xlarge);

    @include respond-to(xl) {
      @include flex-wrap(row, wrap, $padding-large)
    }

    @include respond-to(lg) {
      @include flex-wrap(row, wrap, $padding-medium)
    }

    &-fieldset {
      border: none;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-areas: 'legend legend'
                            'date time';
    }

    &-legend {
      grid-area: legend;
      font-size: 16px;
      font-weight: 600;
      line-height: 22.4px;
      text-align: left;
      color: $primary-dark;
    }
  }

  &__total {
    width: 292px;
    @include flex-space-between(column, center, $gap-small);

    &-prices {
      @include flex-column(calc(#{$gap-xxsmall} / 2));
      min-height: 122px;
      border-radius: $padding-small;
      background: $accent-grey;
      padding: $padding-small;
      width: 100%;

      &-label {
        color: $primary-body;

        &_total {
          @include flex-space-between();
          padding-top: $gap-xxsmall;
        }

        .accent {
          font-size: $rem-base;
          font-weight: 600;
          color: $primary-dark;
        }
      }
    }


  }
}
